@import url("https://www.w3schools.com/w3css/4/w3.css");

#dialog-section {
  position: relative;
}

#add-dialog,
#edit-dialog,
#delete-dialog {
  display: block;
}

#delete-content {
  margin-bottom: 10px;
}

#img-prev {
  max-width: 100%;
}

#delete-dialog button {
  margin-right: 10px;
}

.semi-circle {
  margin-left: auto;
  margin-right: auto;
  width: 600px; /* Go big! */
  height: 300px;
  background-color: var(--secondary-background-color);
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button-information {
  position: relative;
  top: -180px;
  z-index: 1;
  margin-bottom: -150px;
}

#add-button {
  width: 200px;
  background-color: var(--container-border-color);
  color: var(--main-background-color);
  border-radius: 12px;
  /* border-color:var(--container-border-color); */
}

.w3-container {
  background-color: var(--secondary-background-color);
}

.image-section,
.text-div {
  border: 10px solid var(--container-border-color);
  background-color: var(--main-background-color);
  width: 370px;
}

#img-prev-section {
  padding: 10px;
}

.adding-div, .div-forms, #delete-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#img-upload {
  padding-left: 50px;
}

.summary-p {
  padding-left: 10px;
  padding-right: 10px;
}
#change-buttons{
  margin-top: 15px;
  margin-bottom:-85px;
}
#change-buttons a {
  padding-left: 10px;
  padding-right:10px;
  text-decoration: none;
  font-size: 30px;
}

#delete-content{
  margin:20px;
  border: 10px solid var(--container-border-color);
  background-color: var(--main-background-color);
}

#delete-content button{
  margin:20px;
  width:80px;
}

#delete-btn{
  color:red;
}



/* Small Screens*/
@media only screen and (max-width: 999px) {
  .image-section,
  .text-div {
    margin-left: auto;
    margin-right: auto;
  }

  .text-div {
    margin-top: 50px;
  }
}

/* Larger screens */
@media only screen and (min-width: 1000px) {
  #img-prev-section {
    flex: 1;
  }

  #img-prev {
    max-width: 100%;
  }

  #img-upload {
    flex: 6;
  }
}
