.care-box {
    background: var(--main-background-color);
    border: 10px solid var(--container-background-color);
    margin: 10px;
    img{
      border:5px solid var(--container-background-color);
      max-width:300px;
    }
  }

  @media only screen and (min-width: 1000px) {
    .idea-img {
      margin: 20px;
    }
  }