.unit {
  text-align: center;

  img {
    border: 5px solid var(--container-border-color);
  }
}

.refrences a {
  color: black;
}

/* .unit-content {
  margin: 5px;
  background-color: var(--main-background-color);
  border: 5px solid var(--container-border-color);
} */

/* Small Screens*/
@media only screen and (max-width: 999px) {
  .unit-content {
    margin: 5px;
    background-color: var(--main-background-color);
    border: 5px solid var(--container-border-color);
  }
}

/* Larger screens */
@media only screen and (min-width: 1000px) {
  .unit {
    margin: 5px;
    background-color: var(--main-background-color);
    border: 5px solid var(--container-border-color);
    width: 30%;
  }

  .unit-content{
    min-height:100px;
  }

  .unit-content h3{
    font-size: larger;
  }

  .unit-content p{
    margin:10px;
  }
   /* .unit{
    width: 30%;

   } */
}
